@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  radial-gradient(circle at top left,#2563eb,transparent 25%),
  radial-gradient(circle at bottom right,#06b6d4,transparent 25%),
  #0f172a;

  overflow:hidden;
}

.card{
  width:360px;

  padding:35px;

  border-radius:30px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.12);

  backdrop-filter:blur(20px);

  box-shadow:
  0 10px 40px rgba(0,0,0,0.35),
  0 0 25px rgba(34,211,238,0.15);

  text-align:center;

  position:relative;
}

.profile{
  width:120px;
  height:120px;

  border-radius:50%;
  object-fit:cover;

  border:4px solid rgba(255,255,255,0.7);

  margin-bottom:20px;

  box-shadow:
  0 0 25px rgba(34,211,238,0.35);
}

h1{
  color:white;

  font-size:32px;
  font-weight:600;

  margin-bottom:8px;
}

p{
  color:#cbd5e1;

  font-size:14px;
  line-height:1.7;

  margin-bottom:25px;
}

.btn{
  display:block;

  text-decoration:none;

  margin-top:14px;
  padding:14px;

  border-radius:16px;

  background:rgba(255,255,255,0.07);

  border:1px solid rgba(255,255,255,0.08);

  color:white;

  transition:0.25s ease;
}

.btn:hover{
  transform:translateY(-4px);

  background:#22d3ee;
  color:#0f172a;

  box-shadow:
  0 10px 25px rgba(34,211,238,0.35);
}
